scan2_output/full_objects/*.rda
scan2_output/depth_profiles/*.tab.gz
fig*/
respfig*/
suppfig*/
supptables/
aging_rates/
alignability/
cancer_genes/
cluster-logs/
data/
enrichment/
input/
logs/
mutsigs/
scan2/
tables/
not_used_maybe_useful/
old_but_still_useful/
snpeff/
bams/
chrX/
ginkgo/*/
mapd/
metrics/
respfig1/
table1/
vcfs/
shared_mutations/
manual_igv_plots_for_fig1/
